/* z-index list :
0 - map
5 - btn for map 
6 - panorama iframe
7 - btn close
10 - panorama loading
11 - panorama preview
14 - help
15 - start
*/

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#panorama img, .top, .bottom, .btnShowLocalisation{
    position: absolute;
    z-index: 5;
    top: 5px;
    left: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    border: 2.5px solid gray;
    cursor: pointer;
}

.bottom{
    top: auto;
    left: auto;
    bottom: 5px;
    right: 5px;
}

.top img, .bottom img{
    width: 24px;
    height: 24px;
}

#panorama iframe{
    width: 100%;
    height: 100vh;
    position: absolute;

    margin: 0;
    border: 0;
    z-index: 6;
}

#panorama img{
    right: 5px;
    z-index: 7;
}

.btnShowLocalisation{
    left: auto;
    top: auto;
    right: 5px;
    bottom: 5px;
}



#map {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    z-index: 0;
}

.leaflet-popup-content{
    text-align: center;
    min-width: 80px;
}

.leaflet-popup-content img{
    cursor: pointer;
}

#help, #start{
    background-color: rgba(0, 0, 0, 0.5);

    width: 100%;
    height: 100vh;
    position: absolute;

    margin: 0;
    border: 0;
    z-index: 15;

    display: flex;
    justify-content:center;
}

#help {
    z-index: 14;
    text-align: center;
}

#help .content{
    margin-top: 50px;
}

#help .content img{
    width: 95%;
    max-width: 700px;
}

#start .content{
    margin: 15px;
    max-width: 700px;
    padding: 30px;
    background-color: white;
    border-radius: 15px;

    max-height: calc(100vh - 90px);
    overflow-y: scroll;

}

#start .illustration{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;  
}

#start button{
    padding: 10px 15px;
    background-color: #005D91;
    border: none;
    border-radius: 999px;
    color: white;
    text-decoration: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb:vertical {
  margin: 5px;
  background-color: #999;
  -webkit-border-radius: 5px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  height: 5px;
  display: block;
}